.blueDiv {
  height: 120px;
  width: 80px;
  position: relative;
  top: 20px;
  background-color: blue;
}

.redDiv {
  height: 150px;
  width: 200px;
  position: absolute;
  right: 30px;
  background-color: red;
}
