ul {
  list-style-type: none;
  background-color: blue;
  overflow: hidden;
}

li {
  float: left;
}

a {
  text-decoration: none;
  padding: 13px;
  color: white;
  display: block;
}

a:hover{
  background-color: black;
}
